.giseli {
    width: 200px;
    border: 1px;
    border-radius: 50%;
    box-shadow: inset;
    align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

h1 {
    text-align: center;
}